{
  "ga_url": "auto",
  "ga_uid": "",
  "rsync": {
    "destination": "",
    "root": "dist/",
    "hostname": "",
    "username": "",
    "port": "",
    "progress": true,
    "compress": true,
    "recursive": true,
    "exclude": [".gitkeep"]
  }
}
