// Section Customers

.section-customers {
  padding:80px 0;
  .section-title {
    color: $main-grey;
  }
}

.section-customers-intro {
  color: $main-grey;
  margin-bottom: 100px;
  p {
    font-size: 1.2rem;
    line-height: 1.7rem;
    font-weight: 300;
  }
}

.section-customers-container {
  background: #f4f4f4;
  padding: 80px 0;
  .container {
    max-width: 1200px;
  }
}

.customers-container {
  display: flex;
  flex-direction: row;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 100px;
  &:last-child {
    margin-bottom: 0;
  }
}

.customer-entry {
  border-radius: 100%;
  width: 15%;
  transform: Scale(0.95);
  transition: all .3s ease-in;
  &:hover {
    transform: Scale(1);
    box-shadow: 0 0 20px #c1bfbf;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}
