// Section illustration

.section-illustration {
  height: 500px;
  background-image: url("../img/reveil-facebook.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
